



html,body{
    height:100%;



}




body{


    width: 100%;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #FFFFFF;
    background: #1c1c1d;
    font-family: "Josefin Sans", sans-serif;

}



.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
    width:100%;

}




.sect {

    background-color:#2C343B;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding:2.5em;
    color: white;
    overflow: hidden;


}

.home {
    height:100%;
    width:100%;
    background-image: url("../images/home.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding-top:2em;
    color: white;

}

.scroller{
    color: white;
}



a:focus, a:hover {
    color: darkred;
    text-decoration: none;
}

.container h2{
    text-align: center;
    font-weight: bold;  
    font-size: 2.5em;
    padding-bottom: 1em;
    display: block;
 


}



.secto{


    background-color:black;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding-top:2em;
    color:white;
    overflow: hidden;


} 

#experience-section{
    
    color:white;
    overflow: auto;
    display: block;




}




.intro{
    text-align: center;
    padding: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.about{
    height:100%;
}


#languages tr td {
    text-align: center;
    font-size: 5em;
    line-height: 1.5em;
    overflow: auto;
}

.about{
    padding-bottom: 0;
}


.company1{
    background-color: darkgray;
    float:left; 
    margin-bottom: 2em;
    overflow: hidden;

}


.company2{
    background-color:darkgray;
    float:right;
    margin-bottom: 2em;
    overflow: hidden;

}


.darkred-heading{
    font-weight: bold;   
    text-align: left;
    color:darkred;


}



.progress-bar{
    background-color:white;
    color:black;
    font-weight: bold;
    font-size: 1em;
    animation-delay: 1000;
}

.progress{
    background-color:dimgray;
    margin: 2em;
}

.contact {
    height:100%;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding-top:2em;
    color: white;

}

.contact-icon{
    width:70px;
    padding:1em;
    float:right;
}

/* Media Queries for Devices */

@media only screen and (max-width: 768px) {
    .about{
        height:auto;
        width: auto;
        background-color: darkslategray;
        overflow:hidden;
    }
    
    #languages{
        background-color: white;
        height:auto;
        width: auto;
        margin-bottom: 1em;
        text-align: center;
        
    }
    
    #languages tr td {
    text-align: center;
    font-size: 3em;
    line-height: 1.0em;

}
    
    #experience-section h2{
        padding-top: 0.5em;
    }
    
       #experience-section {
    padding:1.5em;
    }
    
    .navbar-inverse{
    background-color: black;
    border-color: black;
    width:100%;

}
    
}

