

{
    margin:0px;

}

html,body{
    height:100%;



}

h1,h2,h3,h4,h5,h6,p{
    color:white;
    margin-bottom:20px;

}



nav{
    position:fixed;
    width:100%;
    height:50px;
    z-index:99;
    text-align:right;
    opacity: 0.7;
    



}


li a{

    text-decoration: none;
    color:#fff;
    margin-right:20px;
    line-height: 50px;
    font-family: sans-serif;
    


}



.sect{
    height:100%;
    width:100%;
    background-color: black;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding:5em;





}

.subSection{
    width:100%;
    height:100%;
    background-color: gray;
    padding:5em;
}

